In [1]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.read_csv("complete_student_analysis_dataset_deepak_sir - complete_student_analysis.csv")

In [4]:
df.head()

,student_id,math_original,science_original,english_original,attendance,math_int8,attendance_float32,weighted_total,math_mean,science_mean,...,grade,bonus_points,final_score,math_original_zscore,science_original_zscore,english_original_zscore,math_original_percentile,science_original_percentile,english_original_percentile,overall_performance
0,1001,82.45,76.70,65.00,71,82,71,76.08,73.4422,79.4485,...,C,0,76.08,0.661,-0.238,-1.706,35.70,60.20,65.00,Needs Improvement
1,1002,72.93,68.88,65.30,90,72,90,69.60,73.4422,79.4485,...,D,0,69.60,-0.038,-0.917,-1.672,45.19,60.37,65.30,Needs Improvement
2,1003,84.72,64.79,65.61,99,84,99,72.97,73.4422,79.4485,...,C,0,72.97,0.828,-1.272,-1.637,45.60,60.66,65.61,Good
3,1004,97.85,73.50,65.91,70,97,70,81.34,73.4422,79.4485,...,B,0,81.34,1.792,-0.516,-1.603,46.30,61.48,65.91,Needs Improvement
4,1005,71.49,97.72,66.21,97,71,97,79.35,73.4422,79.4485,...,C,0,79.35,-0.143,1.585,-1.569,48.55,61.63,66.21,Good